<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.tapli.zaidimuparduotuve.mybatis.model.Kategorija" alias="Kategorija"/>
        <typeAlias type="com.tapli.zaidimuparduotuve.mybatis.model.Zaidimas" alias="Zaidimas"/>
        <typeAlias type="com.tapli.zaidimuparduotuve.mybatis.model.Atsiliepimas" alias="Atsiliepimas"/>
        <typeAlias type="com.tapli.zaidimuparduotuve.mybatis.model.ZaidimoAtsiliepimas" alias="ZaidimoAtsiliepimas"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ZaidimaiDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/KategorijaMapper.xml"/>
        <mapper resource="mybatis.xml/ZaidimasMapper.xml"/>
        <mapper resource="mybatis.xml/AtsiliepimasMapper.xml"/>
        <mapper resource="mybatis.xml/ZaidimoAtsiliepimasMapper.xml"/>
    </mappers>
</configuration>
